matplotlib
Pillow
opencv-python-headless
aiohttp
requests
PyYAML
beautifulsoup4
aiosqlite
pycryptodome
flatbuffers
google-play-scraper
pydantic
rich
nonebot-plugin-htmlrender
nonebot-plugin-apscheduler
